body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  text-align: right;
}

.top-section {
  height: 80vh;
 background: url(https://username.github.io/repo/path/to/website/background6.png) no-repeat center / cover;
  background-position: 50% 20%; /* מתאים את המיקום אופקית למרכז ואנכית ל-20% מהחלק העליון */
}

.word-treasure-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.word-item {
  margin-bottom: 20px;
}

.word, .translation {
  color: #007bff;
  font-weight: bold;
}

.sentence {
  margin-top: 5px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #333;
  padding: 20px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: #ffeb3b;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

.rtl {
  direction: rtl;
  text-align: right;
}

.modal-content {
  margin: 0;
  padding: 20px;
  border: none;
}

.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.favorites-btn {
  background-color: #ffc107;
  color: #333;
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 11;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.favorites-btn:hover {
  background-color: #ffeb3b;
  transform: scale(1.05);
}

.star-icon {
  cursor: pointer;
  color: grey;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s, transform 0.3s;
}

.star-icon:hover {
  color: gold;
  transform: scale(1.1);
}

.star-icon.favorited {
  color: gold;
}

.link-container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
}

.link-container a {
  flex-grow: 1;
  color: #007bff;
  text-decoration: none;
}

.link-container a:hover {
  text-decoration: underline;
}

.link-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.platform-logo {
  width: 100px;
  height: auto;
}

.exit-game, .restart-btn, .play-again-btn, .back-to-games-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.exit-game:hover, .restart-btn:hover, .play-again-btn:hover, .back-to-games-btn:hover {
  background-color: #005bb5;
}

.timer-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.timer-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-image {
  width: 100px;
  height: auto;
}

.timer-display {
  position: absolute;
  top: -10px;
  left: -5px;
  font-size: 1.2em;
  color: #333;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 100; /* Ensure it is above other elements */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tips-container {
  background-color: #f4f4f4;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.tip-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.link-text {
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
  word-break: break-all;
}

.word-treasure-header {
  position: relative;
  display: inline-block;
}

.direction-toggle {
  position: absolute;
  right: 20px; /* מתאים את המיקום האופקי של הכפתור */
  top: 16%;
  transform: translateY(-20%) translateX(15px); /* מתאים את הגובה של הכפתור */
}

.toggle-direction-btn {
  padding: 2px 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0.3;
}

.toggle-direction-btn:hover {
  background-color: #0056b3;
  opacity: 1;
}

#back-to-word-treasure {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff5733;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-word-treasure:hover {
  background-color: #e14a2b;
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  height: 90%;
  overflow: auto;
  border-radius: 5px;
}

.clock-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.penguin-container {
  position: absolute;
  top: 10px; /* מרחק מהחלק העליון של המיכל */
  left: 20%; /* מרחק מהצד השמאלי של המיכל */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#penguin {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

#penguin:hover {
  transform: scale(1.1); /* הגדלת הפינגווין כאשר העכבר מעליו */
}

.thought-bubble {
  display: none;
  position: absolute;
  top: 120px;
  left: -20px;
  width: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(-10px);
}

.thought-bubble:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 30px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.thought-bubble.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.thought-bubble p {
  margin: 0;
  font-size: 14px;
  color: #333;
  text-align: center;
}

#difficulty-tabs {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: end;
  width: calc(100%);
  margin-right: 10px;
}

.tablink {
  background-color: #5100ff !important;
  color: rgb(0, 0, 0);
  display: block;
  width: 80%;
  text-align: center;
  padding: 3px 5px !important;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 30px !important;
  font-family: 'Assistant', sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

.tablink:hover {
  background-color: #ddd;
  border-color: #bbb;
}

.tablink.active, .tablink.active:hover {
  background-color: #4CAF50 !important;
  color: white;
  border-color: #4CAF50 !important;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: -1px;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
}

.exit-button {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.end-game-modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.end-game-modal-content button {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play-again-btn {
  background-color: #28a745;
  color: white;
}

.play-again-btn:hover {
  background-color: #218838;
}

.back-to-games-btn {
  background-color: #007bff;
  color: white;
}

.back-to-games-btn:hover {
  background-color: #0056b3;
}

.timer-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-image {
  width: 100px;
  height: auto;
}

.timer-display {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, minmax(80px, 1fr));
  gap: 10px;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.memory-card {
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  width: 60px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #333;
  transition: transform 0.3s, box-shadow 0.3s;
}

.memory-card.flip {
  transform: scale(1.1);
}

.memory-card:not(.flip):hover {
  transform: scale(1.03);
}

.memory-card.match {
  animation: correct 0.3s, jello-horizontal 0.9s both;
  box-shadow: 0 0 10px #28a745;
}

.memory-card.wrong {
  animation: shake 0.2s both;
  box-shadow: 0 0 10px #dc3545;
}

.game-control-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.memory-game-button, .restart-btn, .play-again-btn, .back-to-games-btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  width: 150px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

.memory-game-button:hover, .restart-btn:hover, .play-again-btn:hover, .back-to-games-btn:hover {
  background-color: #f8f8f8;
  color: #007bff;
  transform: scale(1.05);
}

.game-container { /* החלף במחלקה הנכונה של הקונטיינר של המשחק */
  position: relative;
}

.end-game-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.end-game-modal h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.penguin-image {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.control-buttons-container {
  display: flex;
  justify-content: center; /* מיישר את הכפתורים אופקית למרכז */
  align-items: center; /* מיישר את הכפתורים אנכית */
  gap: 10px; /* מרווח בין הכפתורים */
}

.play-again-btn:hover, .back-to-games-btn:hover {
  background-color: #0056b3; /* שינוי צבע רקע בעת ריחוף */
}

.exit-game {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

@keyframes correct {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 10px #28a745;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px #28a745;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.navbar,
#accessibilityOptions {
  display: none;
}

.navbar.visible,
#accessibilityOptions.visible {
  display: block;
}

.navbar {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 5px;
  margin: 10px;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.nav-link {
  color: white;
  text-align: left;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgba(221, 221, 221, 0.5);
  color: black;
}

.nav-icon {
  margin-right: 12px;
  width: 70px;
  height: 70px;
}

.large-icon {
  width: 20x;
  height: 20px;
  margin: 20px;
}

.accessibility-menu {
  position: fixed;
  top: 620px; /* שונה ל-300px כדי להוריד את הכפתור הרבה יותר למטה */
  right: 8px;
  z-index: 1001;
}

#accessibilityBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#accessibilityBtn img {
  width: 40px; /* הגדר כאן את הרוחב הרצוי */
  height: auto;
}

#accessibilityOptions {
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: absolute; /* נוסף */
  top: -60px; /* זה יזיז את התפריט קצת למעלה */
  right: 100%; /* נוסף */
}

.high-contrast {
  filter: invert(1); /* הפיך צבעים */
  background-color: black; /* רקע שחור */
  color: white; /* טקסט לבן */
}

#accessibilityOptions button {
  display: block;
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#accessibilityOptions button:hover {
  background-color: #e2e6ea;
}

.hamburger-menu {
  position: fixed;
  top: 10px;
  right: -10px;
  z-index: 1001;
}

#hamburgerBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  width: 80%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.modal-content {
  padding: 20px;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
}

.modal .close:hover {
  color: #000;
}

.favorites-container {
  display: flex;
  justify-content: space-between;
}

.favorites-container .favorite-words,
.favorites-container .favorite-series {
  width: 45%;
}

.favorites-container ul {
  list-style-type: none;
  padding: 0;
}

.favorites-container ul li {
  margin-bottom: 10px;
}

.tv-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.tv-show img {
  width: 100px;
  height: 100px;
}

.star-icon {
  font-size: 24px;
  margin-top: 10px;
  cursor: pointer;
}

.shortcut-rectangle {
  width: 16%;
  margin: 0 1%;
  background-color: #2e2e2f;
  color: #eeeeeed9;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shortcut-rectangle img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: -13px;
}

.shortcut-rectangle p {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 700;
}

#series-section {
  display: none;
  background-image: url('https://raw.githubusercontent.com/username/repo/branch/path/to/website/backgroundseries.webp'); /* החלף בנתיב לתמונת הרקע שלך */
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

.series-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('https://raw.githubusercontent.com/username/repo/branch/path/to/background-image.jpg') no-repeat center center / cover;
}

.tv-show {
  width: 200px; /* או כל רוחב אחר בהתאם לעיצוב הרצוי */
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f8f8f8; /* צבע רקע בהיר לתיבה */
}

.tv-show:hover {
  transform: scale(1.05);
}

.tv-show img {
  width: 100%;
  display: block;
  height: 150px;
  object-fit: cover;
}

.tv-show-title {
  background-color: #FFF;
  color: #000; /* צבע הטקסט */
  padding: 10px 20px; /* הגדלת ה-padding */
  font-size: 1em; /* הגדלת גודל הטקסט */
  border-radius: 0 0 10px 10px; /* עיגול הפינות התחתונות */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* צל עדין */
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.modal-content h2 {
  font-size: 2em;
  color: #007bff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 1em;
  color: #333;
  line-height: 1.6;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-content button {
  transform: translateY(0);
  transition: transform 0.3s ease, background-color 0.3s;
}

.modal-content button:hover {
  transform: translateY(-3px);
  background-color: #0056b3;
}

.close {
  color: #aaaaaa;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

:root {
  --primary-color: #2e2e2f;
  --secondary-color: #757f80;
}

body {
  color: var(--primary-color);
}

.tv-show:hover .tv-show-image {
  transform: scale(1.1);
  filter: brightness(50%);
}

.modal-content button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.shortcut-rectangle {
  width: 16%;
  margin: 0 1%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-color: black;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.expand-video {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.exit-button {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 20px;
  background-color: transparent;
  color: #555;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.exit-button:hover {
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.button {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:not(:last-child) {
  margin-bottom: 15px;
}

.tv-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-content .grid-container {
  grid-template-columns: repeat(5, 1fr);
}

.cool-window {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideUpDown 3s ease-in-out infinite alternate;
}

.top-info {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 20px;
  margin-top: 0px;
  margin-left: -40px;
}

.series-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('https://raw.githubusercontent.com/username/repo/branch/path/to/background-image.jpg') no-repeat center center / cover;
}

#searchBarContainer {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 25px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar .site-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
}

.search-bar input[type="text"]::placeholder {
  color: #999;
}

.back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s, transform 0.3s;
}

.back-to-top-button:hover {
  opacity: 1;
  transform: translateY(-3px);
}

.quiz-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.quiz-box {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border: none;
  width: 70%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.answer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: 5px auto;
}

.answer-button:hover {
  background-color: #f8f8f8;
  color: #007bff;
  transform: scale(1.05);
}

.close-btn {
  color: #000;
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: none;
}

.close-btn:hover {
  color: #000;
  background: none;
  border: none;
}

.question {
  font-size: 1.2em; /* הוקטן */
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.answer {
  padding: 15px;
  margin: 10px 0;
  border: 2px solid black;
  background-color: #f9f9f9;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}

.answer:hover {
  background-color: #e0e0e0;
  border-color: #007bff;
}

.answer.correct {
  background-color: #d4edda;
  border-color: #28a745;
}

.answer.incorrect {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.feedback-container {
  position: absolute;
  bottom: 80px; /* הוגדל כדי להופיע מעל הכפתורים */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.feedback-container.hidden {
  opacity: 0;
}

.feedback-container.correct {
  color: #28a745;
  font-weight: bold;
}

.feedback-container.incorrect {
  color: #dc3545;
  font-weight: bold;
}

#score-display {
  font-size: 1.2em; /* הוקטן */
  color: #333;
  margin-top: 20px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: -5px;
}

.game-control-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.play-again-btn, .back-to-games-btn, .back-to-vocabulary-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem; /* הוקטן */
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  margin: 5px;
  min-width: 120px;
}

.play-again-btn:hover, .back-to-games-btn:hover, .back-to-vocabulary-btn:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.05);
}

.play-again-btn, .back-to-games-btn, .back-to-vocabulary-btn {
  padding: 10px 15px;
  background-color: #fff;
  color: #333;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
  width: 150px;
  height: 50px;
}

.play-again-btn:hover, .back-to-games-btn:hover, .back-to-vocabulary-btn:hover {
  background-color: #f8f8f8;
  color: #007bff;
  transform: scale(1.05);
}

.info-box {
  width: 120px;
  height: 50px;
  background-color: #ffffff;
  color: black;
  border: 1px solid #87d1dc;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  margin-right: 5px;
  margin-left: -270px;
}

.modal-content p {
  color: #000;
}

.modal-content h2,
.modal-content div,
.modal-content span {
  color: #000;
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.modal-content {
  padding: 20px;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input[type="text"],
.modal textarea {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #5C6BC0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #3949AB;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
}

.close:hover {
  color: #000;
}

.feedback-container {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.feedback .correct {
  color: #28a745;
  font-weight: bold;
}

.feedback .incorrect {
  color: #dc3545;
  font-weight: bold;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.answer-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.answer-button:hover {
  background-color: #0056b3;
}

/* Feedback Button */
.feedback-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.feedback-button:hover {
  background-color: #0056b3;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form textarea, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }

  .modal {
    width: 100%; /* מודל ברוחב מלא */
    height: 100vh; /* מודל בגובה מלא */
    top: 50%; /* מודל מתחיל מהחלק העליון של המסך */
    border: none; /* אין גבולות */
    border-radius: 0; /* אין עיגול פינות */
    overflow: hidden; /* מונע גלילה כפולה */
  }

  .grid-container, .word-treasure-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* שתי עמודות */
    overflow-y: auto; /* אפשרות לגלילה אנכית אם יש הרבה תוכן */
    flex-grow: 1; /* הגריד יתפשט לכל המקום הזמין */
    padding: 10px; /* רווח בפנים */
    gap: 5px; /* מרווח בין כפתורים */
  }

  .modal-content {
    height: 100%; /* תוכן המודל ממלא את המודל */
    border-radius: 0; /* אין עיגול פינות לתוכן */
    padding-top: 30px !important; /* הכרחי להשיג רווח רצוי בחלק העליון */
    display: flex;
    flex-direction: column;
  }

  .memory-game-button, .restart-btn, .play-again-btn, .back-to-games-btn {
    padding: 5px 10px; /* פדינג מתאים */
    font-size: 10px; /* גודל פונט קטן יותר */
    width: 100px; /* רוחב הכפתור */
    height: 50px; /* גובה הכפתור */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* הוספת צל לבולטות */
    border: 1px solid black; /* מסגרת שחורה דקה להבלטה נוספת */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* מנסה להכיל 5 טורים */
    gap: 1px; /* מקטין את הרווח בין טורים ושורות למינימום */
  }

  .memory-card {
    height: 60px; /* מקטין את הגובה */
    width: 40px; /* מקטין את הרוחב של כל קלף כדי להתאים לטור */
    margin: 1px; /* מקטין את הרווחים סביב הקלפים */
    font-size: 10px; /* מקטין את גודל הפונט בתוך קלף */
  }

  .exit-button, .close, #back-to-word-treasure {
    font-size: 16px; /* קטן יותר */
    padding: 8px; /* קטן יותר */
  }

  .modal-content {
    padding: 10px; /* פדינג קטן יותר */
    width: 90%; /* הקטנת רוחב המודל */
  }

  .back-to-top-button, .feedback-button {
    font-size: 10px; /* קטן יותר */
    padding: 5px 10px; /* קטן יותר */
    width: 30px; /* קטן יותר */
    height: 30px; /* קטן יותר */
  }

  .exit-button {
    align-self: flex-end; /* כפתור היציאה בצד ימין למעלה */
    margin: 10px; /* רווח סביב כפתור היציאה */
    font-size: 24px; /* גודל פונט גדול יותר לנגישות */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* שתי עמודות בלבד */
    gap: 5px; /* מרווח קטן יותר */
    padding: 5px;
  }

  button.episode-button {
    padding: 12px; /* ריווח גדול יותר לנוחות */
    font-size: 16px; /* גודל פונט גדול יותר לקריאות */
  }

  .word-treasure-container {
    font-size: 18px; /* שנה לגודל הכתב הרצוי */
    line-height: 1.5; /* להבטיח שהטקסט יהיה קריא */
    padding: 10px; /* ריווח פנימי לאלמנט */
  }

  .word-treasure-container h2 {
    font-size: 24px; /* גודל הכתב לכותרות */
    font-weight: bold;
    margin-bottom: 10px; /* רווח תחתון לכותרת */
  }

  .word-treasure-container p {
    font-size: 18px; /* גודל הכתב לפסקאות */
    margin-bottom: 10px; /* רווח תחתון לפסקאות */
  }

  .word-treasure-container .highlight {
    font-size: 20px; /* גודל הכתב למילים מודגשות */
    color: #007bff; /* צבע המילים המודגשות */
    font-weight: bold; /* משקל פונט למילים מודגשות */
  }

  .episode-button {
    padding: 5px;
    font-size: 10px;
  }

  .episode-button:hover {
    transform: none;
  }

  .episode-button:active {
    transform: none;
  }

  .bottom-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .shortcut-rectangle {
    flex-basis: 35%;
    margin-bottom: 10px;
    width: 70vw;
    height: 10vh;
    flex-shrink: 0;
    margin-right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    max-height: 120px;
  }

  body, button, input[type="text"] {
    font-size: 10px;
  }

  header, .bottom-section a, .tv-show-title {
    font-size: 12px;
  }

  .shortcut-rectangle img {
    width: 250%;
    height: auto;
    margin-bottom: -10px;
  }

  .shortcut-rectangle p {
    font-size: 1em;
  }

  .shortcut-rectangle:not(#to-bot):not(#to-series):not(#to-tips) {
    display: none;
  }

  #searchBarContainer .search-bar {
    width: 90%;
    margin: 10px auto;
  }

  #searchInputSeries {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }

  .cool-window {
    display: none;
  }

  .penguin-container {
    display: none;
  }

  .accessibility-menu {
    position: fixed;
    top: 500px; /* Adjusted position */
    right: 8px;
    z-index: 1001;
  }

  #accessibilityBtn img {
    width: 30px; /* Smaller size */
    height: auto;
  }

  .back-to-top-button {
    bottom: 50px; /* Adjusted position */
    right: 10px;
    width: 40px; /* Smaller size */
    height: 40px; /* Smaller size */
    font-size: 10px; /* Smaller font size */
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-link {
    font-size: 12px; /* Smaller font size */
    padding: 5px 10px; /* Smaller padding */
  }

  .nav-icon {
    width: 30px; /* Smaller size */
    height: 30px; /* Smaller size */
  }
}
